.container {
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form {
  background: rgba(255, 255, 255, 0.95);
  padding: 2rem;
  border-radius: 15px;
  width: 350px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.title {
  text-align: center;
  color: #2c3e50;
  margin-bottom: 1.5rem;
}

.inputGroup {
  margin: 1rem 0;
}

.inputGroup input,
.inputGroup select {
  width: 100%;
  padding: 12px;
  border: 2px solid #ecf0f1;
  border-radius: 8px;
  font-size: 1rem;
  transition: border-color 0.3s ease;
}

.inputGroup input:focus,
.inputGroup select:focus {
  border-color: #3498db;
  outline: none;
}

/* Add specific styles for the dropdown (select) */
.inputGroup select {
  background-color: #fff;
  color: #2c3e50;
  cursor: pointer;
}

.inputGroup select option {
  background-color: #fff;
  color: #2c3e50;
}

.submitButton {
  width: 100%;
  padding: 12px;
  background-color: #64D6D0;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.submitButton:hover {
  background-color: #27ae60;
}
